# Ignore build artifacts
build/

# Ignore generated documentation
docs/html/
docs/latex/

# Ignore binaries
*.exe
*.out

# Ignore object files and archives
*.o
*.a

# Ignore Doxygen backup files
Doxyfile.bak
*.bak
